<script setup>
import { computed } from 'vue';
import { ProgressIndicator, ProgressRoot } from 'radix-vue';
import { cn } from '@/lib/utils';
import { boolean } from 'zod';

const props = defineProps({
  modelValue: { type: [Number, null], required: false, default: 0 },
  max: { type: Number, required: false },
  getValueLabel: { type: Function, required: false },
  asChild: { type: Boolean, required: false },
  as: { type: null, required: false },
  class: { type: null, required: false },
  textLabel: { type: String, default: '' },
  failed: { type: boolean, default: false, required: false }
});

const delegatedProps = computed(() => {
  const { class: _, ...delegated } = props;

  return delegated;
});
</script>

<template>
  <ProgressRoot
    v-if="!failed"
    v-bind="delegatedProps"
    :class="
      cn(
        'relative h-4 w-full overflow-hidden rounded-full bg-slate-100 dark:bg-slate-800 border-solid border-2 border-primary-dark',
        props.class
      )
    "
  >
    <div
      class="absolute inset-0 flex items-center justify-center font-medium text-2xl z-50 text-darkest"
    >
      <strong>{{ textLabel }}</strong>
    </div>
    <ProgressIndicator
      class="rounded-full h-full w-full flex-1 bg-primary-dark transition-all dark:bg-slate-50"
      :style="`transform: translateX(-${100 - (props.modelValue ?? 0)}%);`"
    />
  </ProgressRoot>
  <ProgressRoot
    v-else
    v-bind="delegatedProps"
    :class="
      cn(
        'relative h-4 w-full overflow-hidden rounded-full bg-slate-100 dark:bg-slate-800 border-solid border-2 border-red-500',
        props.class
      )
    "
  >
    <div
      class="absolute inset-0 flex items-center justify-center font-medium text-2xl z-50 text-darkest"
    >
      <strong>{{ textLabel }}</strong>
    </div>
    <ProgressIndicator
      class="rounded-full h-full w-full flex-1 bg-red-500 transition-all dark:bg-slate-50"
      :style="`transform: translateX(-${100 - (props.modelValue ?? 0)}%);`"
    />
  </ProgressRoot>
</template>
