<script setup>
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle
} from '@/components/ui/card';
import GreenStdLogo from '@/assets/GreenThemeAssets/GreenStdLogo.png';
import PinkStdLogo from '@/assets/PinkThemeAssets/PinkStdLogo.png';
import { Button } from '@/components/ui/button';
import { useThemeStore } from '@/stores/theme';
import { useUserStore } from '@/stores/user';
import { computed, onMounted } from 'vue';

/**
 * Authentication view.
 */

/**
 * Theme store.
 */
const themeStore = useThemeStore();

/**
 * Current theme.
 */
const theme = computed(() => themeStore.theme);

/**
 * Base URL.
 */
const baseURL = import.meta.env.VITE_REST_API_URL;

/**
 * User store.
 */
const userStore = useUserStore();

/**
 * URL params.
 */
const urlParams = new URLSearchParams(window.location.search);

/**
 * Checks with token if the user is onboarded or not.
 * Gets sent to dashboard if true, onboarding otherwise.
 */
onMounted(async () => {
  const token = urlParams.get('token');
  if (token) {
    localStorage.setItem('access_token', token);
    await userStore.getUserInfo();
    if (!userStore.user.isOnboarded) {
      window.location.href = '/onboarding';
      return;
    }
    window.location.href = '/dashboard';
  }
});
</script>

<template>
  <div
    :key="theme"
    class="flex items-center justify-center md:flex-col pt-40 md:pt-0"
  >
    <img
      v-if="theme === 'theme1'"
      :src="PinkStdLogo"
      alt="Pink logo"
      class="w-2/4 md:w-1/5"
    />
    <img
      v-else-if="theme === 'theme2'"
      :src="GreenStdLogo"
      alt="Green logo"
      class="w-2/4 md:w-1/5"
    />
  </div>

  <h1 class="text-xl text-center">
    Velkommen til Sparesti! <br />
    Hvor sparing blir til en spennende reise.<br />
    Spar i appen og se pengene vokse langs stien.
  </h1>
  <div class="flex pt-8 items-center justify-center">
    <Card class="w-[350px]">
      <CardHeader>
        <CardTitle>Logg inn til Sparesti</CardTitle>
        <CardDescription class="text-black">
          Logg inn til Sparesti med BankID for å kunne bruke alle
          funksjonalitetene.
        </CardDescription>
      </CardHeader>
      <CardContent>
        <Button
          variant="tertiary"
          class="w-full font-bold hover:font-bold"
          as-child
        >
          <a :href="`${baseURL}/auth/bank-id`"> Logg inn med BankID </a>
        </Button>
      </CardContent>
    </Card>
  </div>
</template>
