<script setup>
import { onMounted, computed } from 'vue';
import {
  Popover,
  PopoverContent,
  PopoverTrigger
} from '@/components/ui/popover';
import { CircleHelp } from 'lucide-vue-next';
import { useBadgeStore } from '@/stores/badge.js';
import MainLayout from '@/components/MainLayout.vue';
import { useThemeStore } from '@/stores/theme.js';
import Sparti from '@/components/Sparti.vue';
/**
 * Manages and displays the badges page for application achievements
 */

/**
 * Initializes the badges store
 */
const badgeStore = useBadgeStore();

/**
 * Initializes the theme preferance
 */
const theme = computed(() => useThemeStore().theme);

/**
 * fetches badges on mount
 */
onMounted(() => {
  badgeStore.fetchBadges();
  badgeStore.fetchAchievedBadges();
});

/**
 * Computed property that formats badges for display on the badges page.
 */
const formattedBadges = computed(() => {
  return badgeStore.badges.map((badge) => {
    const isAchieved = badgeStore.achievedBadges.includes(badge.badgeId);
    return {
      src: badge.url,
      alt: badge.name,
      grayscale: !isAchieved,
      description: badge.description
    };
  });
});
</script>

<template>
  <MainLayout>
    <div>
      <div class="flex flex-row justify-center">
        <h1 class="text-stroke">MEDALJER</h1>
        <Popover>
          <PopoverTrigger>
            <Button class="ml-2">
              <CircleHelp
                size="40"
                class="text-primary-dark hover:text-secondary-dark hover:shadow-2xl"
              />
            </Button>
          </PopoverTrigger>
          <PopoverContent
            class="md:w-full w-screen bg-transparent p-4 text-darkest shadow-none border-0 border-transparent"
          >
            <Sparti>
              <span>
                Her ser du medaljene du har tjent.<br />
                Trykk på en medalje for å se dine prestasjoner!<br />
                <strong>Lilla</strong> medaljer viser hvor mye du har spart med
                Sparesti,<br />
                <strong>Blå</strong> for antall utfordrende utfordringer du har
                fullført,<br />
                <strong>Røde</strong> medaljer for antall utfordringer du har
                klart etter hverandre.<br />
                Spar enda mer for å få de grå medaljene!
              </span>
            </Sparti>
          </PopoverContent>
        </Popover>
      </div>
      <div
        class="md:pt-12 pt-4 grid grid-rows-4 grid-cols-3 gap-4 grid-flow-col place-items-center md:grid-cols-4 md:grid-rows-3 md:grid-flow-row"
      >
        <Popover v-for="badge in formattedBadges" :key="badge.id">
          <PopoverTrigger>
            <img
              class="hover:opacity-75 fixed-size-object object-contain"
              :src="badge.src"
              :alt="badge.alt"
              :class="{ grayscale: badge.grayscale }"
            />
          </PopoverTrigger>
          <PopoverContent>
            <p class="text-center">{{ badge.description }}</p>
          </PopoverContent>
        </Popover>
      </div>
    </div>
  </MainLayout>
</template>

<style scoped>
.fixed-size-object {
  width: 180px;
  height: 180px;
}
</style>
