<script setup>
import {
  FormControl,
  FormField,
  FormItem,
  FormLabel,
  FormMessage
} from '@/components/ui/form';
import {
  Popover,
  PopoverContent,
  PopoverTrigger
} from '@/components/ui/popover';
import { parseDate, DateFormatter } from '@internationalized/date';
import { useSavingGoalsStore } from '@/stores/savingGoals.js';
import MainLayout from '@/components/MainLayout.vue';
import { Calendar } from '@/components/ui/calendar';
import { toTypedSchema } from '@vee-validate/zod';
import { Button } from '@/components/ui/button';
import { CalendarIcon } from 'lucide-vue-next';
import { Input } from '@/components/ui/input';
import { toDate } from 'radix-vue/date';
import router from '@/router/index.js';
import { useForm } from 'vee-validate';
import { ref, computed } from 'vue';
import { cn } from '@/lib/utils';
import { z } from 'zod';
import PinkSBgR from '@/assets/PinkThemeAssets/PinkSBgR.png';
import GreenSBgR from '@/assets/GreenThemeAssets/GreenSBgR.png';
import { useThemeStore } from '@/stores/theme.js';
/**
 * Manages and displays the saving goal creation page
 */

/**
 * Theme for the current dashboard view.
 */
const theme = useThemeStore().theme;

/**
 * DateFormatter instance for date formatting
 */
const df = new DateFormatter('nb-NO', {
  dateStyle: 'long'
});

/**
 * Form validation schema
 */
const formSchema = toTypedSchema(
  z.object({
    title: z.string().min(1, 'Tittel er påkrevd'),
    amount: z
      .string()
      .refine((v) => v > 0, { message: 'Beløp må være større enn 0' }),
    deadline: z
      .string()
      .refine((v) => v, { message: 'Dato må være valgt' })
      .refine(
        (v) => {
          if (!v) return false;
          const selectedDate = new Date(v);
          const currentDate = new Date();
          return selectedDate >= currentDate;
        },
        { message: 'Datoen kan ikke være dagens dato eller før' }
      )
  })
);

const placeholder = ref();

/**
 * Form setup with validation and initial values
 */
const { handleSubmit, setValues, values } = useForm({
  validationSchema: formSchema,
  initialValues: {
    title: '',
    amount: '',
    deadline: ''
  }
});

/**
 * Computed property for deadline value
 */
const value = computed({
  get: () => (values.deadline ? parseDate(values.deadline) : undefined),
  set: (val) => val
});

/**
 * Form submission handler
 */
const onSubmit = handleSubmit(async (values) => {
  values.amount = parseFloat(values.amount);
  const savingGoalDTO = {
    title: values.title,
    goal: values.amount,
    deadline: values.deadline
  };
  await useSavingGoalsStore().createSavingGoal(savingGoalDTO);
  await router.push('/saving-path');
});

/**
 * Sends user back to savingPathView
 */
const cancel = () => {
  router.push('/saving-path');
};

/**
 * Handles input event to sanitize the amount input value.
 * Removes special characters from the input value.
 */
const handleAmountInput = (event) => {
  const charactersToIgnore = /[,.:;<>+?/\\&%$#"!'´*\[\](){}\-=^¨@§]/g;
  let value = event.target.value;
  value = value.replace(charactersToIgnore, '');
  event.target.value = value;
};
</script>

<template>
  <MainLayout>
    <main class="p-4">
      <img
        v-if="theme === 'theme1'"
        :src="PinkSBgR"
        alt="Pink S background"
        class="absolute md:top-40 top-60 right-0 z-[-1] w-72 h-72"
      />
      <img
        v-else-if="theme === 'theme2'"
        :src="GreenSBgR"
        alt="Green S background"
        class="absolute md:top-40 top-60 right-0 z-[-1] w-72 h-72"
      />
      <h1 class="text-stroke">LAG ET SPAREMÅL</h1>
      <form
        @submit.prevent="onSubmit"
        class="mx-auto space-y-4 md:w-96 md:mx-auto md:text-left pt-7"
      >
        <FormField v-slot="{ componentField }" name="title">
          <FormItem>
            <FormLabel>Hva vil du spare til?</FormLabel>
            <FormControl>
              <Input
                type="text"
                placeholder="Reise til Spania"
                v-bind="componentField"
                class="border-2 border-primary hover:border-darkest"
              />
            </FormControl>
            <FormMessage />
          </FormItem>
        </FormField>

        <FormField v-slot="{ componentField }" name="amount">
          <FormItem>
            <FormLabel>Hvor mye vil du spare (NOK)? </FormLabel>
            <FormControl>
              <Input
                placeholder="15 000"
                @input="handleAmountInput"
                v-bind="componentField"
                class="border-2 border-primary hover:border-darkest"
              />
            </FormControl>
            <FormMessage />
          </FormItem>
        </FormField>

        <FormField name="deadline">
          <FormItem class="flex flex-col">
            <FormLabel>Når vil du nå målet?</FormLabel>
            <Popover>
              <PopoverTrigger as-child>
                <FormControl>
                  <Button
                    variant="outline"
                    :class="
                      cn(
                        'ps-3 text-start font-normal border-2 border-primary',
                        !value && 'text-muted-foreground'
                      )
                    "
                  >
                    <span class="text-gray-500">{{
                      value ? df.format(toDate(value)) : 'Velg dato'
                    }}</span>
                    <CalendarIcon class="ms-auto h-4 w-4 opacity-50" />
                  </Button>
                  <input hidden />
                </FormControl>
              </PopoverTrigger>
              <PopoverContent class="w-auto p-0">
                <Calendar
                  v-model:placeholder="placeholder"
                  v-model="value"
                  calendar-label="Velg dato"
                  initial-focus
                  @update:model-value="
                    (newValue) => {
                      if (newValue) {
                        setValues({
                          deadline: newValue.toString()
                        });
                      } else {
                        setValues({
                          deadline: ''
                        });
                      }
                    }
                  "
                />
              </PopoverContent>
            </Popover>
            <FormMessage />
          </FormItem>
        </FormField>

        <div class="flex justify-between">
          <Button variant="primary" @click="cancel">Avbryt</Button>
          <Button variant="primary" type="submit">Lagre</Button>
        </div>
      </form>
    </main>
  </MainLayout>
</template>
