<script setup>
import { Card } from '@/components/ui/card';
import { CardContent, CardTitle } from '@/components/ui/card/index.js';
import { useSavingGoalsStore } from '@/stores/savingGoals.js';
import { computed, onMounted } from 'vue';
import MainLayout from '@/components/MainLayout.vue';
import PinkStatistics from '@/assets/PinkThemeAssets/PinkStatistics.png';
import PinkS from '@/assets/PinkThemeAssets/PinkS.png';
import GreenStatistics from '@/assets/GreenThemeAssets/GreenStatistics.png';
import GreenS from '@/assets/GreenThemeAssets/GreenS.png';
import Badge from '@/assets/standard/Badge.png';
import { useThemeStore } from '@/stores/theme.js';
import { useUserStore } from '@/stores/user.js';
import Sparti from '@/components/Sparti.vue';
import Plus from '@/assets/standard/Plus.png';
import { Button } from '@/components/ui/button';
import {
  Popover,
  PopoverContent,
  PopoverTrigger
} from '@/components/ui/popover';
import PurpleBadge from '@/assets/standard/PurpleBadge.png';
import BlueBadge from '@/assets/standard/BlueBadge.png';
import RedBadge from '@/assets/standard/RedBadge.png';
import { useBadgeStore } from '@/stores/badge';
/**
 * Manages and displays the dashboard
 */

/**
 * Theme for the current dashboard view.
 */
const theme = useThemeStore().theme;

/**
 * Display text for the Sparti component, based on users name.
 */
const displayName = computed(() => {
  const userStore = useUserStore();
  return userStore.user.nickName
    ? userStore.user.nickName
    : userStore.user.firstName;
});

/**
 * Initializes the badge store
 */
const badgeStore = useBadgeStore();

/**
 * Initializes user stats
 */
const userStats = computed(() => badgeStore.userStats);

/**
 * Fetches from badge store on mount
 */
onMounted(() => {
  badgeStore.fetchUserStats();
});

/**
 * Fetches the saving goals from the store.
 */
useSavingGoalsStore().fetchSavingGoals();

/**
 * The saving goals from the store.
 */
const savingGoals = computed(() => useSavingGoalsStore().savingGoals);
const isSavingGoalsEmpty = computed(() => savingGoals.value.length === 0);
</script>

<template>
  <MainLayout>
    <div class="flex items-center justify-between pt-1 p-4">
      <div class="flex-1"></div>

      <h1 class="text-stroke text-center flex-grow">HJEM</h1>
      <div class="flex-1 flex justify-end">
        <Popover>
          <PopoverTrigger>
            <Button variant="primary"> Status medaljer </Button>
          </PopoverTrigger>
          <PopoverContent class="bg-white border-darkest">
            <div class="flex items-center w-full md:w-screen-[300px]">
              <img alt="Purple Badge" :src="PurpleBadge" class="w-10 h-10" />
              <span
                >Du har spart
                <strong>{{ userStats.totalSavings }} kr</strong>.</span
              >
            </div>
            <div class="flex items-center w-full md:w-screen-[300px]">
              <img alt="Blue Badge" :src="BlueBadge" class="w-10 h-10" />
              <span
                >Du har fullført
                <strong>{{ userStats.hardChallengesCompleted }}</strong>
                vanskelige utfordringer totalt.</span
              >
            </div>
            <div class="flex items-center w-full md:w-screen-[300px]">
              <img alt="Red Badge" :src="RedBadge" class="w-10 h-10" />
              <span
                >Du har fullført
                <strong>{{ userStats.successfulStreak }}</strong>
                spareutfordringer på rad som rekord.</span
              >
            </div>
          </PopoverContent>
        </Popover>
      </div>
    </div>
    <div class="flex justify-center pb-2">
      <Sparti>
        <span
          >Hei <strong>{{ useUserStore().displayName }}</strong
          >, fint å se deg!</span
        >
      </Sparti>
    </div>
    <div
      class="flex flex-col justify-center gap-y-10 md:flex-row md:gap-y-0 md:gap-x-12 md:mb-10 md:flex-grow md:items-center h-100 mb-10"
    >
      <RouterLink to="/create-saving-goal" v-if="isSavingGoalsEmpty">
        <Card
          variant="default"
          class="flex flex-col relative w-48 h-44 md:w-56 mx-auto md:h-52 items-center p-8 justify-center hover:shadow-lg hover:bg-primary hover:text-white"
        >
          <CardTitle class="pt-8 text-center">LAG SPAREMÅL</CardTitle>
          <CardContent class="w-44 h-44">
            <img alt="Plus" :src="Plus" />
          </CardContent>
        </Card>
      </RouterLink>
      <RouterLink to="/saving-path" v-else-if="!isSavingGoalsEmpty">
        <Card
          variant="default"
          class="flex flex-col relative w-48 h-44 md:w-56 mx-auto md:h-52 items-center p-8 justify-center hover:shadow-lg hover:bg-primary hover:text-white"
        >
          <CardTitle class="pt-8">SPARESTI</CardTitle>
          <CardContent class="w-44 h-44">
            <img v-if="theme === 'theme1'" :src="PinkS" alt="Pink S" />
            <img v-else-if="theme === 'theme2'" :src="GreenS" alt="Green S" />
          </CardContent>
        </Card>
      </RouterLink>
      <RouterLink to="/saving-overview">
        <Card
          class="flex flex-col relative w-48 h-44 md:w-56 mx-auto md:h-52 items-center p-8 justify-center hover:shadow-lg hover:bg-primary hover:text-white"
        >
          <CardTitle class="pt-6">SPAREOVERSIKT</CardTitle>
          <CardContent class="w-40 h-40">
            <img
              v-if="theme === 'theme1'"
              :src="PinkStatistics"
              alt="Pink Statistics"
            />
            <img
              v-else-if="theme === 'theme2'"
              :src="GreenStatistics"
              alt="Green Statistics"
            />
          </CardContent>
        </Card>
      </RouterLink>
      <RouterLink to="/badges">
        <Card
          class="flex flex-col relative w-48 h-44 md:w-56 mx-auto md:h-52 items-center p-8 justify-center hover:shadow-lg hover:bg-primary hover:text-white"
        >
          <CardTitle class="pt-6">MEDALJER</CardTitle>
          <CardContent class="w-40 h-40 pt-2">
            <img alt="Badge" :src="Badge" />
          </CardContent>
        </Card>
      </RouterLink>
    </div>
  </MainLayout>
</template>
