<script setup>
import { RefreshCw, ArrowLeft } from 'lucide-vue-next';
import SuggestedSavingChallenge from '@/components/SuggestedSavingChallenge.vue';
import AcceptPreviewChallenge from '@/components/AcceptPreviewChallenge.vue';
import {
  Dialog,
  DialogContent,
  DialogDescription,
  DialogFooter,
  DialogHeader,
  DialogTitle,
  DialogTrigger
} from '@/components/ui/dialog/index.js';
import { RouterLink } from 'vue-router';
import MainLayout from '@/components/MainLayout.vue';
import { useSavingChallengeStore } from '@/stores/savingChallenge.js';
import { computed, nextTick, onMounted, ref } from 'vue';
import { Button } from '@/components/ui/button/index.js';
import PinkSBg from '@/assets/PinkThemeAssets/PinkSBg.png';
import GreenSBg from '@/assets/GreenThemeAssets/GreenSBg.png';
import { useThemeStore } from '@/stores/theme.js';
/**
 * Manages and displays the generate challenges view
 */

/**
 * Theme for the current dashboard view.
 */
const theme = useThemeStore().theme;

/**
 * The store for the saving challenges
 */
const savingChallengeStore = useSavingChallengeStore();

/**
 * The suggested saving challenges
 */
const suggestedChallenges = computed(
  () => savingChallengeStore.suggestedSavingChallenges
);

/**
 * Variable that indicates if the challenges are loading
 */
const loading = ref(true);

/**
 * Fetch the suggested saving challenges when the component is mounted
 */
onMounted(async () => {
  await savingChallengeStore.fetchSuggestedSavingChallenges();
  loading.value = false;
});

/**
 * Variable that indicates if the refresh button is spinning
 */
const animateRefresh = ref(false);

/**
 * Refresh the challenges
 */
const refreshChallenges = async () => {
  animateRefresh.value = true;

  await nextTick();
  await savingChallengeStore.fetchSuggestedSavingChallenges();

  setTimeout(() => {
    animateRefresh.value = false;
  }, 1000);
};
</script>

<template>
  <MainLayout>
    <img
      v-if="theme === 'theme1'"
      :src="PinkSBg"
      alt="Pink S background"
      class="absolute md:top-80 top-60 left-0 z-[-1] w-72 h-72"
    />
    <img
      v-else-if="theme === 'theme2'"
      :src="GreenSBg"
      alt="Green S background"
      class="absolute md:top-40 top-80 left-0 z-[-1] w-72 h-72"
    />
    <div v-if="loading" class="px-2.5 flex flex-col items-center mt-10 pt-7">
      <h1 class="pt-7 pb-8 text-2xl">Laster inn...</h1>
      <img
        src="../assets/Loading/Loading.gif"
        alt="Mynter som stables mens siden laster"
        class="w-1/4 h-auto md:w-1/6"
      />
    </div>
    <div v-else class="px-2.5 flex flex-col items-center">
      <h1 class="pt-7 pb-8 text-2xl">Tør du å ta en utfordring?</h1>
      <div class="flex-col">
        <div
          class="pb-1 relative max-w-lg mx-auto flex justify-between items-center mb-4"
        >
          <RouterLink to="/saving-path" as-child>
            <Button variant="primary">
              <ArrowLeft id="back" />
            </Button>
          </RouterLink>
          <Button @click="refreshChallenges" variant="primary">
            <span class="mr-2">Gi meg nye utfordringer</span>
            <div class="h-auto w-auto mx-auto">
              <RefreshCw
                :class="{ spin: animateRefresh }"
                @click="refreshChallenges"
              />
            </div>
          </Button>
        </div>
        <div
          v-if="suggestedChallenges"
          v-for="(challenge, index) in suggestedChallenges"
          :key="index"
          class="pb-4"
        >
          <Dialog>
            <DialogTrigger>
              <div class="relative max-w-lg mx-auto">
                <div class="pb-8 flex justify-center flex-grow">
                  <SuggestedSavingChallenge
                    class="hover:bg-primary-light flex-grow"
                    :savingChallenge="challenge"
                  />
                </div>
              </div>
            </DialogTrigger>
            <DialogContent class="sm:max-w-[425px] bg-standard">
              <DialogHeader>
                <DialogTitle></DialogTitle>
                <DialogDescription></DialogDescription>
              </DialogHeader>
              <AcceptPreviewChallenge :savingChallenge="challenge" />
              <DialogFooter></DialogFooter>
            </DialogContent>
          </Dialog>
        </div>
      </div>
    </div>
  </MainLayout>
</template>

<style scoped>
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s linear infinite;
}
</style>
