<script setup>
import DialogClose from '@/components/ui/dialog/DialogClose.vue';
import SuggestedSavingChallenge from '@/components/SuggestedSavingChallenge.vue';
import {
  ToggleGroup,
  ToggleGroupItem
} from '@/components/ui/toggle-group/index.js';
import { Button } from '@/components/ui/button/index.js';
import { ref } from 'vue';
import { useSavingChallengeStore } from '@/stores/savingChallenge.js';
import router from '@/router/index.js';

/**
 * A component for previewing an accepted challenge.
 */

/**
 * The default time for the challenge.
 */
const time = ref(7);

/**
 * The store for the saving challenges.
 */
const savingChallengeStore = useSavingChallengeStore();

/**
 * The props for the component.
 */
const props = defineProps({
  savingChallenge: {
    type: Object,
    required: true
  }
});

/**
 * Formats the date to a string.
 */
const formatDate = (date) => {
  return `${date.getFullYear()}-${String(date.getMonth() + 1).padStart(2, '0')}-${String(
    date.getDate()
  ).padStart(2, '0')}`;
};

/**
 * The target spending for the challenge.
 */
const targetSpending = ref(props.savingChallenge.currentSpending);

/**
 * Updates the time and goal based on the new time.
 */
const updateTime = (newTime) => {
  time.value = newTime;
  switch (newTime) {
    case 7:
      targetSpending.value = props.savingChallenge.currentSpending;
      break;
    case 14:
      targetSpending.value = props.savingChallenge.currentSpending * 2;
      break;
    case 30:
      targetSpending.value = props.savingChallenge.currentSpending * 4;
      break;
  }
};

/**
 * Accepts the challenge.
 */
const acceptChallenge = async () => {
  const startDate = new Date();
  const endDate = new Date(startDate);
  endDate.setDate(startDate.getDate() + time.value);

  const savingChallengeDTO = {
    description: props.savingChallenge.description,
    currentSpending: props.savingChallenge.currentSpending,
    difficulty: props.savingChallenge.difficulty,
    targetSpending: targetSpending.value,
    startDate: formatDate(startDate),
    endDate: formatDate(endDate),
    status: 'ACTIVE',
    categoryId: props.savingChallenge.category.categoryId
  };
  await savingChallengeStore.createActiveSavingChallenge(savingChallengeDTO);
  await router.push('saving-path');
};

/**
 * Declines the challenge.
 */
const declineChallenge = () => {
  savingChallengeStore.suggestedSavingChallenges =
    savingChallengeStore.suggestedSavingChallenges.filter(
      (challenge) => challenge !== props.savingChallenge
    );
};
</script>

<template>
  <SuggestedSavingChallenge
    :isPreview="true"
    :saving-challenge="savingChallenge"
    :time="time"
    :target-spending="targetSpending"
  />
  <p class="flex justify-center">Lengde på utfordring:</p>
  <ToggleGroup type="single" variant="selected" default-value="7">
    <ToggleGroupItem
      value="7"
      aria-label="Toggle seven"
      variant="selected"
      @click="updateTime(7)"
    >
      7 dager
    </ToggleGroupItem>
    <ToggleGroupItem
      variant="selected"
      value="14"
      aria-label="Toggle fourteen"
      @click="updateTime(14)"
    >
      14 dager
    </ToggleGroupItem>
    <ToggleGroupItem
      variant="selected"
      value="30"
      aria-label="Toggle thirty"
      @click="updateTime(30)"
    >
      30 dager
    </ToggleGroupItem>
  </ToggleGroup>
  <br />
  <div class="flex justify-center space-x-6">
    <Button id="accept" variant="primary" @click="acceptChallenge"
      >Aksepter</Button
    >
    <DialogClose>
      <Button id="decline" variant="destructive" @click="declineChallenge"
        >Avvis</Button
      >
    </DialogClose>
  </div>
</template>
