<script setup>
import { ref } from 'vue';
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle
} from '@/components/ui/card/index.js';

/**
 * Component for choosing a saving challenge.
 */

/**
 * The category of the challenge, default is coffee.
 */
const category = ref('Kaffe');

/**
 * The goal of the challenge, default is 100 kr.
 */
const goal = ref(100);

/**
 * The difficulty of the challenge, default is easy.
 */
const difficulty = ref('Enkel');

/**
 * The description of the challenge.
 */
const description = ref(
  'Du har brukt 200 kr på kaffe den siste uken, bruk mindre enn 100 kr på kaffe.'
);

/**
 * Updates the goal of the challenge.
 */
const updateGoal = (newGoal) => {
  goal.value = newGoal;
};

/**
 * Exposes the updateGoal function
 */
defineExpose({
  updateGoal
});
</script>

<template>
  <Card>
    <CardHeader>
      <div class="flex justify-between">
        <CardTitle class="text-left justify-self-start pb-1">
          {{ category }}
        </CardTitle>
        <p id="difficulty" class="justify-self-end">
          Vanskelighetsgrad: {{ difficulty }}
        </p>
      </div>
    </CardHeader>
    <CardContent>
      <CardDescription class="">
        <div class="overflow-auto flex justify-center">{{ description }}</div>
        <br />
        <div class="flex justify-center">
          Mål: bruke mindre enn {{ goal }} kr
        </div>
      </CardDescription>
    </CardContent>
  </Card>
</template>
