<script setup>
import { computed } from 'vue';
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle
} from '@/components/ui/card/index.js';
import { ScrollArea } from '@/components/ui/scroll-area';
import { Button } from '@/components/ui/button/index.js';
import { Checkbox } from '@/components/ui/checkbox';
import {
  Dialog,
  DialogClose,
  DialogContent,
  DialogFooter,
  DialogHeader,
  DialogTitle,
  DialogTrigger
} from '@/components/ui/dialog';
import { X } from 'lucide-vue-next';
import { useCategoryStore } from '@/stores/category.js';
import CreateCategoryDialog from './dialogs/CreateCategoryDialog.vue';

/**
 * Component for configuring categories.
 */

/**
 * Props for the component.
 */
const props = defineProps({
  values: {
    type: Object,
    required: true
  },
  setFieldValue: {
    type: Function,
    required: true
  }
});

/**
 * Computed property for the categories.
 */
let categories = computed(() => props.values.categories);

/**
 * Category store for managing categories.
 */
const categoryStore = useCategoryStore();

/**
 * Method for selecting all categories.
 */
const selectAllCategories = (selected) => {
  props.setFieldValue(
    'categories',
    categories.value.map((category) => ({ ...category, selected }))
  );
};

/**
 * Computed property for checking if all categories are selected.
 */
const allSelected = computed(() =>
  categories.value.every((category) => category.selected)
);

/**
 * Method for deleting a category.
 */
const deleteCategory = (index) => {
  const category = categories.value[index];
  if (category) {
    categoryStore.deleteCategory(category.categoryId);
    const updatedCategories = props.values.categories.filter(
      (_, i) => i !== index
    );

    props.setFieldValue('categories', updatedCategories);
  } else {
    console.error(`No category found at index ${index}`);
  }
};

/**
 * Method for toggling the category selection.
 */
const toggleCategorySelection = (index) => {
  const category = props.values.categories[index];
  if (category) {
    props.setFieldValue(`categories.${index}.selected`, !category.selected);
  }
};
</script>

<template>
  <Card class="relative">
    <CardHeader>
      <CardTitle class="text-center mt-4 text-darkest">
        Hva vil du spare på?
      </CardTitle>
      <CardDescription class="text-center text-darkest">
        Trykk for å fjerne de kategoriene du ikke ønsker å spare på
      </CardDescription>
    </CardHeader>
    <CardContent class="flex flex-col flex-grow space-y-4">
      <div class="flex justify-between">
        <div class="flex items-center space-x-1">
          <Checkbox
            id="chooseAll"
            @update:checked="selectAllCategories"
            :checked="allSelected"
          />
          <div class="grid gap-1.5 leading-none">Spar på alle kategorier</div>
        </div>
        <CreateCategoryDialog
          :values="props.values"
          :set-field-value="props.setFieldValue"
        />
      </div>
      <ScrollArea class="h-96">
        <div class="grid grid-cols-2 gap-4">
          <Card
            @click="toggleCategorySelection(index)"
            class="relative hover:opacity-75 w-full h-30 bg-standard cursor-pointer"
            v-for="(category, index) in categories"
            :key="index"
            :class="{
              'opacity-30': !category?.selected,
              'hover:opacity-30': !category?.selected
            }"
          >
            <Dialog>
              <DialogTrigger>
                <Button
                  class="absolute top-0 right-0"
                  type="button"
                  variant="ghost"
                  size="icon"
                >
                  <X
                    class="text-red-500 border border-red-500 rounded hover:bg-white"
                  />
                </Button>
              </DialogTrigger>
              <DialogContent>
                <DialogHeader>
                  <DialogTitle
                    >Er du sikker på at du vil slette '{{
                      category.name
                    }}'?</DialogTitle
                  >
                </DialogHeader>
                <DialogFooter>
                  <DialogClose>
                    <Button @click="deleteCategory(index)" class="mr-5"
                      >Ja</Button
                    >
                    <Button>Nei</Button>
                  </DialogClose>
                </DialogFooter>
              </DialogContent>
            </Dialog>
            <CardHeader class="pb-2">
              <CardTitle class="text-base font-bold text-center">{{
                category.name
              }}</CardTitle>
            </CardHeader>
            <CardContent class="p-0 cursor-pointer">
              <img
                :src="category.img"
                :alt="category.name + ' icon'"
                class="h-16 md:h-20 w-auto mx-auto"
              />
            </CardContent>
          </Card>
        </div>
      </ScrollArea>
    </CardContent>
  </Card>
</template>
