<script setup>
import { computed, onBeforeMount, ref } from 'vue';
import { Card } from '@/components/ui/card/index.js';
import { Progress } from '@/components/ui/progress/index.js';
import { setTimeRemaining } from '@/utils/timeUtils.js';
import { getDifficultyLabel } from '@/utils/difficulty';
import { getStatus } from '@/utils/status.js';

/**
 * A component for displaying the current saving challenge.
 */

/**
 * Define the props for the component.
 */
const props = defineProps({
  savingChallenge: {
    type: Object,
    required: true
  }
});

/**
 * The hours left for the saving challenge.
 */
const hoursLeft = ref(0);

/**
 * The days left for the saving challenge.
 */
const daysLeft = ref(0);

/**
 * The end date for the saving challenge.
 */
const endDate = ref(props.savingChallenge.endDate);

/**
 * The amount of money the user has spent.
 */
const amount = ref(0);

/**
 * The target spending for the saving challenge.
 */
const targetSpending = computed(() => props.savingChallenge.targetSpending);

/**
 * The amount of money the user has spent so far in the saving challenge.
 */
const spentSoFar = computed(() => props.savingChallenge.spentSoFar);

/**
 * The difficulty of the saving challenge.
 */
const difficulty = computed(() =>
  getDifficultyLabel(props.savingChallenge.difficulty)
);

/**
 * Set the time remaining when the component is mounted.
 */
onBeforeMount(() => {
  setTimeRemaining(endDate, daysLeft, hoursLeft);
});

/**
 * The progress of the saving challenge.
 */
const progress = computed(() => {
  const usedSoFar = targetSpending.value - spentSoFar.value;
  return (usedSoFar / targetSpending.value) * 100;
});

/**
 * The status of the saving challenge.
 */
const status = computed(() => getStatus(props.savingChallenge.status));
</script>

<template>
  <Card
    class="bg-white border-4 shadow-lg"
    :class="{
      'border-active': status === 'Aktiv',
      'border-failed': status === 'Feilet',
      'border-completed': status === 'Fullført'
    }"
  >
    <div class="flex justify-between px-2.5">
      <div class="flex-col">
        <p class="text-left text-xl">
          <strong>{{ props.savingChallenge.category.name }} </strong>
        </p>
        <div class="flex flex-row items-center">
          <p
            :class="{
              'text-active': status === 'Aktiv',
              'text-failed': status === 'Feilet',
              'text-completed': status === 'Fullført'
            }"
          >
            <strong>{{ status }}</strong>
          </p>
        </div>
      </div>
      <div class="flex-col">
        <p class="text-right">{{ difficulty }}</p>
        <p
          class="text-right"
          @reset="setTimeRemaining(endDate, daysLeft, hoursLeft)"
        >
          Innen {{ daysLeft }}d {{ hoursLeft }}t
        </p>
      </div>
    </div>
    <div class="flex justify-center m-4">
      <p v-if="targetSpending - spentSoFar > 0">
        Du har igjen
        <strong>{{ Math.abs(targetSpending - spentSoFar) }}</strong> kr av
        <strong>{{ targetSpending }}</strong> kr
      </p>
      <p v-else>
        Du brukte
        <strong>{{ Math.abs(targetSpending - spentSoFar) }}</strong> kr mer enn
        du skulle
      </p>
    </div>
    <div class="flex justify-center">
      <Progress class="w-9/12" :model-value="progress"></Progress>
    </div>
  </Card>
</template>
