<script setup>
import { RouterLink } from 'vue-router';
import { computed } from 'vue';
import PinkLogo from '@/assets/PinkThemeAssets/PinkS.png';
import GreenLogo from '@/assets/GreenThemeAssets/GreenS.png';
import { useThemeStore } from '@/stores/theme.js';
import { Mail } from 'lucide-vue-next';

/**
 * Component for the footer.
 */

/**
 * The store for the theme.
 */
const themeStore = useThemeStore();

/**
 * The current theme.
 */
const theme = computed(() => themeStore.theme);
</script>

<template>
  <div
    class="md:min-h-32 flex flex-row justify-between items-center bg-primary text-black text-center p-2 bottom-0 w-full"
  >
    <div class="w-1/3 flex flex-col justify-center items-center">
      <h1 class="text-sm md:text-base">Opphavsrett SpareSti © 2024</h1>
    </div>
    <RouterLink to="/dashboard" class="w-1/3 flex justify-center items-center">
      <img
        v-if="theme === 'theme1'"
        :src="PinkLogo"
        alt="Pink Logo"
        class="h-16 md:h-20"
      />
      <img
        v-else-if="theme === 'theme2'"
        :src="GreenLogo"
        alt="Green Logo"
        class="h-16 md:h-20"
      />
    </RouterLink>
    <div class="w-1/3 flex flex-col justify-center items-center">
      <a href="mailto:support@sparesti.com">
        <div class="flex flex-row justify-between items-center gap-1">
          <Mail class="text-darkest" />
          <h1 class="text-sm md:text-base hover:underline">Kontakt</h1>
        </div>
      </a>
    </div>
  </div>
</template>
