<script setup>
import NavBar from './NavBar.vue';
import FooterComponent from './FooterComponent.vue';

/**
 * A layout component for the main layout.
 * This component contains the navigation bar, the main content, and the footer.
 */
</script>

<template>
  <NavBar />
  <main class="flex flex-col flex-grow mt-[90px] md:mt-[104px]">
    <slot />
  </main>
  <FooterComponent />
</template>
