<script setup>
import { onMounted, ref } from 'vue';
import { AccountType } from '@/lib/AccountType';
import IntegrateWithBankAccountDialog from './dialogs/IntegrateWithBankAccountDialog.vue';
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle
} from './ui/card';
import { useUserStore } from '@/stores/user';
import { computed } from 'vue';
import { Input } from './ui/input';
import { Check, Pencil } from 'lucide-vue-next';

/**
 * Component for managing bank accounts.
 */

/**
 * The user store.
 */
const userStore = useUserStore();

/**
 * The current checking account.
 */
const checkingAccount = computed(() => userStore.checkingAccount);

/**
 * The current savings account.
 */
const savingsAccount = computed(() => userStore.savingsAccount);

/**
 * Whether the user is in edit mode for the checking account name.
 * Default is false.
 */
const editCheckingNameMode = ref(false);

/**
 * Whether the user is in edit mode for the savings account name.
 * Default is false.
 */
const editSavingNameMode = ref(false);

/**
 * The name of the checking account.
 */
const checkingAccountName = ref(checkingAccount?.value?.name || 'Brukskonto');

/**
 * The name of the savings account.
 */
const savingsAccountName = ref(savingsAccount?.value?.name || 'Sparekonto');

/**
 * Edits the name of the checking account.
 */
async function editCheckingName() {
  await userStore.updateAccountName(
    checkingAccountName.value,
    AccountType.CHECKING,
    checkingAccount.value.accountNumber
  );
  editCheckingNameMode.value = false;
}

/**
 * Edits the name of the savings account.
 */
async function editSavingName() {
  await userStore.updateAccountName(
    savingsAccountName.value,
    AccountType.SAVINGS,
    savingsAccount.value.accountNumber
  );
  editSavingNameMode.value = false;
}

onMounted(async () => {
  await userStore.getUserInfo();
  checkingAccountName.value = checkingAccount?.value?.name || 'Brukskonto';
  savingsAccountName.value = savingsAccount?.value?.name || 'Sparekonto';
});
</script>
<template>
  <Card class="relative mt-10">
    <CardHeader>
      <CardTitle class="text-darkest">Koble til bankkontoer</CardTitle>
      <CardDescription class="text-darkest">
        Legg til eller rediger dine bankkontoer
      </CardDescription>
    </CardHeader>
    <CardContent>
      <div v-if="!checkingAccount">
        <span class="text-darkest">Brukskonto</span>
        <IntegrateWithBankAccountDialog :account-type="AccountType.CHECKING" />
      </div>
      <div v-else>
        <div class="flex space-x-1 items-center justify-between">
          <Input
            v-if="editCheckingNameMode"
            placeholder="brukskonto"
            v-model="checkingAccountName"
          />
          <span v-else>{{ checkingAccountName }}</span>
          <Button
            v-if="!editCheckingNameMode"
            variant="ghost"
            size="icon"
            @click="editCheckingNameMode = true"
            type="button"
          >
            <Pencil class="h-4 w-4 text-darkest" />
          </Button>
          <Button
            v-else
            variant="ghost"
            size="icon"
            @click="editCheckingName"
            type="button"
          >
            <Check class="h-4 w-4 text-darkest" />
          </Button>
        </div>
        <span>{{ checkingAccount.accountNumber }}</span>
      </div>
      <br />
      <div v-if="!savingsAccount">
        <span>Sparekonto</span>
        <IntegrateWithBankAccountDialog :account-type="AccountType.SAVINGS" />
      </div>
      <div v-else>
        <div class="flex space-x-1 items-center justify-between">
          <Input
            v-if="editSavingNameMode"
            placeholder="brukskonto"
            v-model="savingsAccountName"
          />
          <span v-else>{{ savingsAccountName }}</span>
          <Button
            v-if="!editSavingNameMode"
            variant="ghost"
            size="icon"
            @click="editSavingNameMode = true"
            type="button"
          >
            <Pencil class="h-4 w-4 text-darkest" />
          </Button>
          <Button
            v-else
            variant="ghost"
            size="icon"
            @click="editSavingName"
            type="button"
          >
            <Check class="h-4 w-4 text-darkest" />
          </Button>
        </div>
        <span>{{ savingsAccount.accountNumber }}</span>
      </div>
    </CardContent>
  </Card>
</template>
