<script setup>
import { RouterLink, useRoute } from 'vue-router';
import { BadgeDollarSign, Menu } from 'lucide-vue-next';
import { ref, computed } from 'vue';
import { Button } from '@/components/ui/button';
import PinkLogo from '@/assets/PinkThemeAssets/PinkLongLogo.png';
import GreenLogo from '@/assets/GreenThemeAssets/GreenLongLogo.png';
import { useThemeStore } from '@/stores/theme.js';
import { useUserStore } from '@/stores/user';

/**
 * Component for the navigation bar.
 */

/**
 * The store for the theme.
 */
const themeStore = useThemeStore();

/**
 * The store for the user.
 */
const userStore = useUserStore();

/**
 * Tracks whether the navigation menu is open or not.
 */
const navOpen = ref(false);

/**
 * Tracks whether the menu is in mobile mode (less than 768px) or not.
 */
const isMobileMenu = ref(window.innerWidth < 768);

/**
 * Updates the menu based on the window width.
 * If the screen is not in mobile mode, the menu is closed.
 */
const updateMenu = () => {
  isMobileMenu.value = window.innerWidth < 768;
  if (!isMobileMenu.value) {
    navOpen.value = false;
  }
};

/**
 * The current route.
 */
const route = useRoute();

/**
 * Updates the menu when the window is resized with an event listener.
 */
window.addEventListener('resize', updateMenu);

/**
 * Toggles the navigation menu open and closed, based on the current state of the navOpen ref.
 */
const toggleNav = () => {
  navOpen.value = !navOpen.value;
  console.log(navOpen.value);
};

/**
 * The current theme.
 */
const theme = computed(() => themeStore.theme);

/**
 * The current user.
 */
const user = computed(() => userStore.user);

/**
 * Checks if the current page is the transactions page.
 */
const isTransactionsPage = computed(() => route.path === '/transactions');

/**
 * Checks if the current page is the profile page.
 */
const isProfilePage = computed(() => route.path === '/profile');
</script>

<template>
  <nav
    :class="{ 'bg-secondary-light': isMobileMenu }"
    class="fixed top-0 left-0 right-0 z-50 p-3 bg-standard"
  >
    <div class="flex justify-between items-center">
      <RouterLink to="/dashboard">
        <img
          v-if="theme === 'theme1'"
          :src="PinkLogo"
          alt="Pink Logo"
          class="h-16 md:h-20 md:pl-3"
        />
        <img
          v-else-if="theme === 'theme2'"
          :src="GreenLogo"
          alt="Green Logo"
          class="h-16 md:h-20 md:pl-3"
        />
      </RouterLink>
      <div :class="isMobileMenu ? 'hidden' : 'flex space-x-4'">
        <Button
          as-child
          :class="[
            'border-solid border-2 border-primary-dark text-primary-dark bg-transparent rounded-full p-2.5',
            isTransactionsPage
              ? 'bg-primary-dark text-white hover:bg-primary hover:border-primary'
              : 'hover:bg-primary hover:border-primary hover:text-white'
          ]"
        >
          <RouterLink
            to="/transactions"
            class="mt-4 md:mt-0 no-underline hover:no-underline"
          >
            <BadgeDollarSign class="mr-2" />
            TRANSAKSJONER
          </RouterLink>
        </Button>
        <Button
          as-child
          :class="[
            'border-solid border-2 border-primary-dark text-primary-dark bg-transparent rounded-full p-2.5',
            isProfilePage
              ? 'bg-primary-dark text-white hover:bg-primary hover:border-primary'
              : 'hover:bg-primary hover:border-primary hover:text-white'
          ]"
        >
          <RouterLink
            to="/profile"
            class="mt-4 md:mt-0 no-underline hover:no-underline"
          >
            <img
              :src="user.profileAvatar"
              alt="Profile avatar"
              class="h-6 mr-2"
            />
            <span>{{ userStore.displayName }}</span>
          </RouterLink>
        </Button>
      </div>
      <button @click="toggleNav" class="md:hidden">
        <Menu size="24" />
      </button>
    </div>
    <div
      v-if="isMobileMenu"
      :class="{ block: navOpen, hidden: !navOpen }"
      class="flex flex-col items-start space-y-4"
    >
      <Button
        as-child
        :class="[
          'border-solid border-2 border-primary-dark text-primary-dark bg-transparent rounded-full p-2.5',
          isTransactionsPage
            ? 'bg-primary-dark text-white hover:bg-primary hover:border-primary'
            : 'hover:bg-primary hover:border-primary hover:text-white'
        ]"
      >
        <RouterLink
          to="/transactions"
          class="mt-4 md:mt-0 no-underline hover:no-underline"
        >
          TRANSAKSJONER
        </RouterLink>
      </Button>
      <Button
        as-child
        :class="[
          'border-solid border-2 border-primary-dark text-primary-dark bg-transparent rounded-full p-2.5',
          isProfilePage
            ? 'bg-primary-dark text-white hover:bg-primary hover:border-primary'
            : 'hover:bg-primary hover:border-primary hover:text-white'
        ]"
      >
        <RouterLink
          to="/profile"
          class="mt-4 md:mt-0 no-underline hover:no-underline"
        >
          PROFIL
        </RouterLink>
      </Button>
    </div>
  </nav>
</template>
