<script setup>
import {
  FormControl,
  FormField,
  FormItem,
  FormLabel,
  FormMessage
} from '@/components/ui/form';
import { Card, CardContent, CardHeader, CardTitle } from '@/components/ui/card';
import { Button } from '@/components/ui/button';
import { Input } from '@/components/ui/input';
import { computed, onMounted, ref } from 'vue';
import { useUserStore } from '@/stores/user';
import { Checkbox } from '@/components/ui/checkbox/index.js';
import {
  Dialog,
  DialogContent,
  DialogTrigger,
  DialogHeader,
  DialogTitle
} from '@/components/ui/dialog/index.js';
import Boy1Avatar from '../assets/Avatar/Boy1Avatar.png';
import Boy2Avatar from '../assets/Avatar/Boy2Avatar.png';
import Boy3Avatar from '../assets/Avatar/Boy3Avatar.png';
import Boy4Avatar from '../assets/Avatar/Bpy4Avatar.png';
import Girl1Avatar from '../assets/Avatar/Girl1Avatar.png';
import Girl2Avatar from '../assets/Avatar/Girl2Avatar.png';
import Girl3Avatar from '../assets/Avatar/Girl3Avatar.png';
import Girl4Avatar from '../assets/Avatar/Girl4Avatar.png';
import standard from '../assets/Avatar/StdAvatar.png';
import Sparti from './Sparti.vue';

/**
 * Component for onboarding the user's profile.
 */

/**
 * Props for the component.
 */
const props = defineProps({
  errors: {
    type: Object,
    required: true
  },
  setFieldValue: {
    type: Function,
    required: true
  },
  values: {
    type: Object,
    required: true
  }
});

/**
 * User store for getting user information.
 */
const userStore = useUserStore();
userStore.getUserInfo();

/**
 * Computed property for the user's names.
 */
const firstName = computed(() => userStore.user.firstName);
const lastName = computed(() => userStore.user.lastName);

/**
 * Available icons for the user to choose from.
 */
const availableIcons = ref([
  { value: 'Boy1Avatar', src: Boy1Avatar },
  { value: 'Boy2Avatar', src: Boy2Avatar },
  { value: 'Boy3Avatar', src: Boy3Avatar },
  { value: 'Boy4Avatar', src: Boy4Avatar },
  { value: 'Girl1Avatar', src: Girl1Avatar },
  { value: 'Girl2Avatar', src: Girl2Avatar },
  { value: 'Girl3Avatar', src: Girl3Avatar },
  { value: 'Girl4Avatar', src: Girl4Avatar },
  { value: 'StdAvatar', src: standard }
]);

/**
 * Selected icon for the user.
 */
const selectedIcon = computed(() => {
  const icon = availableIcons.value.find(
    (icon) => icon.value === props.values.icon
  );
  return (
    icon || availableIcons.value.find((icon) => icon.value === 'StdAvatar')
  );
});

/**
 * Whether the user has selected an icon.
 */
const selectIconOpen = ref(false);

/**
 * Method for checking if the email is valid for consent.
 */
const isEmailValidForConsent = () => {
  return /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/.test(
    props.values.email
  );
};

/**
 * Method for setting the selected icon.
 */
onMounted(async () => {
  selectedIcon.value =
    availableIcons.value.find((icon) => icon.value === props.values.icon) ||
    availableIcons.value[0];
});
</script>

<template>
  <Card class="relative shadow-xl rounded-lg overflow-hidden mt-10">
    <CardHeader class="p-8">
      <CardContent>
        <CardTitle class="text-3xl font-bold"
          >Velkommen, {{ firstName }} {{ lastName }}!</CardTitle
        >
        <div class="w-full mx-auto">
          <div class="flex flex-col md:flex-row gap-15 pt-3">
            <div
              class="flex flex-row flex-shrink-0 md:flex-col items-center justify-center gap-6 mr-10 xl:mr-16"
            >
              <Dialog
                :open="selectIconOpen"
                @update:open="(open) => (selectIconOpen = open)"
              >
                <DialogTrigger>
                  <img
                    v-if="selectedIcon"
                    :src="selectedIcon.src"
                    alt="icon"
                    class="h-24 w-24 object-contain"
                  />
                </DialogTrigger>
                <DialogContent>
                  <DialogHeader>
                    <DialogTitle class="text-lg font-medium"
                      >Hvilken ligner mest på deg?</DialogTitle
                    >
                  </DialogHeader>
                  <div class="grid grid-cols-3 gap-4">
                    <Card
                      class="hover:opacity-75 w-full"
                      v-for="(icon, index) in availableIcons"
                      :key="index"
                    >
                      <div
                        class="flex flex-col items-center justify-center p-4"
                      >
                        <Button
                          variant="ghost"
                          size="none"
                          @click="
                            () => {
                              //selectedIcon = icon;
                              values && setFieldValue('icon', icon.value);
                              selectIconOpen = false;
                            }
                          "
                          class="flex flex-col items-center justify-center p-2 space-y-4"
                        >
                          <img :src="icon.src" alt="icon" class="h-12 w-12" />
                        </Button>
                      </div>
                    </Card>
                  </div>
                </DialogContent>
                <div class="text-sm text-center">
                  Trykk på profilbildet
                  <p>for å velge et bilde</p>
                </div>
              </Dialog>
            </div>
            <div>
              <FormField v-slot="{ componentField }" name="nickname">
                <FormItem>
                  <FormLabel class="text-darkest"
                    >Hva kan vi kalle deg?</FormLabel
                  >
                  <br />
                  <FormControl>
                    <Input
                      placeholder="Kallenavn"
                      class="border-gray-300"
                      type="text"
                      v-bind="componentField"
                    />
                  </FormControl>
                  <FormMessage />
                </FormItem>
              </FormField>

              <FormField v-slot="{ componentField }" name="email">
                <FormItem>
                  <FormLabel class="text-center"
                    >Vi vil gjerne ha eposten din!</FormLabel
                  >
                  <br />
                  <FormControl>
                    <Input
                      placeholder="Eksempel@online.no"
                      class="border-gray-300"
                      type="email"
                      v-bind="componentField"
                    />
                  </FormControl>
                  <FormMessage />
                </FormItem>
              </FormField>

              <FormField v-slot="{ componentField }" name="consent">
                <FormItem>
                  <FormControl>
                    <div class="flex items-start space-x-1 pt-2">
                      <Checkbox
                        class="bg-standard text-darkest"
                        :disabled="!isEmailValidForConsent()"
                        :checked="componentField.modelValue"
                        @update:checked="componentField.onChange"
                        v-bind="componentField"
                      />
                      <p
                        v-if="!values.consent"
                        class="text-sm font-medium leading-none"
                      >
                        Jeg godtar å motta nyheter på epost
                      </p>
                      <p v-else class="text-sm font-medium leading-none">
                        Jeg godtar å motta nyheter på epost &#129395;
                      </p>
                    </div>
                  </FormControl>
                </FormItem>
              </FormField>
            </div>
          </div>
        </div>
      </CardContent>
    </CardHeader>
  </Card>
</template>
