<script setup>
import {
  ToggleGroup,
  ToggleGroupItem
} from '@/components/ui/toggle-group/index.js';
import { Button } from '@/components/ui/button/index.js';
import { IntensityLevel } from '@/lib/IntensityLevel';
import {
  FormControl,
  FormField,
  FormItem,
  FormLabel
} from '@/components/ui/form';
import { useThemeStore } from '@/stores/theme';
import { Card, CardTitle } from '@/components/ui/card/index.js';
import PinkTheme from '@/assets/PinkThemeAssets/PinkTheme.png';
import GreenTheme from '@/assets/GreenThemeAssets/GreenTheme.png';

/**
 * Component for onboarding questions.
 */

/**
 * Theme store for managing the theme.
 */
const themeStore = useThemeStore();
</script>

<template>
  <Card class="relative">
    <CardTitle class="text-center mt-4">Noen spørsmål om deg!</CardTitle>
    <div
      class="flex flex-col md:flex-row space-y-8 px-8 gap-4 justify-center pt-7"
    >
      <div class="flex flex-col items-center mr-4 md:mt-2 space-y-8">
        <FormField v-slot="{ componentField }" name="savingLevel">
          <FormItem class="flex flex-col items-center text-center">
            <FormLabel>Hvor mye vet du om sparing?</FormLabel>
            <FormControl>
              <ToggleGroup
                class="mt-4"
                :isPreview="true"
                type="single"
                variant="selectedProfile"
                v-bind="componentField"
              >
                <ToggleGroupItem :value="IntensityLevel.A_LITTLE"
                  >Lite</ToggleGroupItem
                >
                <ToggleGroupItem :value="IntensityLevel.SOME"
                  >Noe</ToggleGroupItem
                >
                <ToggleGroupItem :value="IntensityLevel.A_LOT"
                  >Mye</ToggleGroupItem
                >
              </ToggleGroup>
            </FormControl>
          </FormItem>
        </FormField>

        <FormField v-slot="{ componentField }" name="coffeeLevel">
          <FormItem class="flex flex-col items-center text-center">
            <FormLabel>
              Tenk at du elsker kaffe: Ville du vært villig til å halvere hvor
              mye du drikker i uka?
            </FormLabel>
            <FormControl>
              <ToggleGroup
                class="mt-4"
                :isPreview="true"
                type="single"
                variant="selectedProfile"
                v-bind="componentField"
              >
                <ToggleGroupItem :value="IntensityLevel.A_LITTLE"
                  >Nei</ToggleGroupItem
                >
                <ToggleGroupItem :value="IntensityLevel.SOME"
                  >Kanskje</ToggleGroupItem
                >
                <ToggleGroupItem :value="IntensityLevel.A_LOT"
                  >Ja</ToggleGroupItem
                >
              </ToggleGroup>
            </FormControl>
          </FormItem>
        </FormField>

        <FormField v-slot="{ componentField }" name="subscriptionLevel">
          <FormItem class="flex flex-col items-center text-center">
            <FormLabel
              >Er du villig til å kun abonnere på en strømmeplatform per
              måned?</FormLabel
            >
            <FormControl>
              <ToggleGroup
                class="mt-4"
                :isPreview="true"
                type="single"
                variant="selectedProfile"
                v-bind="componentField"
              >
                <ToggleGroupItem :value="IntensityLevel.A_LITTLE"
                  >Nei</ToggleGroupItem
                >
                <ToggleGroupItem :value="IntensityLevel.SOME"
                  >Kanskje</ToggleGroupItem
                >
                <ToggleGroupItem :value="IntensityLevel.A_LOT"
                  >Ja</ToggleGroupItem
                >
              </ToggleGroup>
            </FormControl>
          </FormItem>
        </FormField>

        <FormField v-slot="{ componentField }" name="eatingOutLevel">
          <FormItem class="flex flex-col items-center text-center">
            <FormLabel
              >Er du villig til å droppe å spise ute en hel måned for å spare
              penger?</FormLabel
            >
            <FormControl>
              <ToggleGroup
                class="mt-4"
                :isPreview="true"
                type="single"
                variant="selectedProfile"
                v-bind="componentField"
              >
                <ToggleGroupItem :value="IntensityLevel.A_LITTLE"
                  >Nei</ToggleGroupItem
                >
                <ToggleGroupItem :value="IntensityLevel.SOME"
                  >Kanskje</ToggleGroupItem
                >
                <ToggleGroupItem :value="IntensityLevel.A_LOT"
                  >Ja</ToggleGroupItem
                >
              </ToggleGroup>
            </FormControl>
          </FormItem>
        </FormField>

        <FormField v-slot="{ componentField }" name="shoppingLevel">
          <FormItem class="flex flex-col items-center text-center">
            <FormLabel
              >Er du villig til å vente til et plagg er på salg før du kjøper
              det?</FormLabel
            >
            <FormControl>
              <ToggleGroup
                class="mt-4"
                :isPreview="true"
                type="single"
                variant="selectedProfile"
                v-bind="componentField"
              >
                <ToggleGroupItem :value="IntensityLevel.A_LITTLE"
                  >Nei</ToggleGroupItem
                >
                <ToggleGroupItem :value="IntensityLevel.SOME"
                  >Kanskje</ToggleGroupItem
                >
                <ToggleGroupItem :value="IntensityLevel.A_LOT"
                  >Ja</ToggleGroupItem
                >
              </ToggleGroup>
            </FormControl>
          </FormItem>
        </FormField>

        <div class="flex flex-col justify-center text-center pb-4">
          <p>Velg ditt Sparesti-tema!</p>
          <div class="flex flex-row justify-center pt-2">
            <Button
              class="theme1 bg-transparent hover:bg-transparent"
              type="button"
              @click="themeStore.setTheme('theme1')"
            >
              <img :src="PinkTheme" alt="Pink Theme" class="w-14 h-14" />
            </Button>
            <Button
              class="theme2 bg-transparent hover:bg-transparent"
              type="button"
              @click="themeStore.setTheme('theme2')"
            >
              <img :src="GreenTheme" alt="Green Theme" class="w-14 h-14" />
            </Button>
          </div>
        </div>
      </div>
    </div>
  </Card>
</template>
