<script setup>
import {
  ToggleGroup,
  ToggleGroupItem
} from '@/components/ui/toggle-group/index.js';
import { Button } from '@/components/ui/button/index.js';
import { IntensityLevel } from '@/lib/IntensityLevel';
import {
  FormControl,
  FormField,
  FormItem,
  FormLabel
} from '@/components/ui/form';
import { useThemeStore } from '@/stores/theme';
import {
  Card,
  CardContent,
  CardHeader,
  CardTitle
} from '@/components/ui/card/index.js';
import PinkTheme from '@/assets/PinkThemeAssets/PinkTheme.png';
import GreenTheme from '@/assets/GreenThemeAssets/GreenTheme.png';

/**
 * Component for onboarding profile questions.
 */

/**
 * Theme store for managing the theme.
 */
const themeStore = useThemeStore();

/**
 * Props for the component.
 */
const props = defineProps({
  isEditing: Boolean,
  default: false
});
</script>

<template>
  <Card class="relative mx-4 max-w-lg md:mx-auto items-center">
    <CardHeader>
      <CardContent>
        <CardTitle class="font-bold">Hjelp oss å hjelpe deg!</CardTitle>
        <div class="flex flex-col md:flex-row justify-center pt-7">
          <div class="flex flex-col items-center mr-4 space-y-8">
            <FormField v-slot="{ componentField }" name="savingLevel">
              <FormItem class="flex flex-col items-center text-center">
                <FormLabel>Hvor mye vet du om sparing?</FormLabel>
                <FormControl>
                  <ToggleGroup
                    class="mt-4"
                    :isPreview="true"
                    type="single"
                    variant="selectedProfile"
                    v-bind="componentField"
                  >
                    <ToggleGroupItem :value="IntensityLevel.A_LITTLE"
                      >Lite</ToggleGroupItem
                    >
                    <ToggleGroupItem :value="IntensityLevel.SOME"
                      >Noe</ToggleGroupItem
                    >
                    <ToggleGroupItem :value="IntensityLevel.A_LOT"
                      >Mye</ToggleGroupItem
                    >
                  </ToggleGroup>
                </FormControl>
              </FormItem>
            </FormField>
            <FormField v-slot="{ componentField }" name="willingnessToInvest">
              <FormItem class="flex flex-col items-center text-center">
                <FormLabel>Hvor villig er du til å endre vaner?</FormLabel>
                <FormControl>
                  <ToggleGroup
                    class="mt-4"
                    :isPreview="true"
                    type="single"
                    variant="selectedProfile"
                    v-bind="componentField"
                  >
                    <ToggleGroupItem :value="IntensityLevel.A_LITTLE"
                      >Lite</ToggleGroupItem
                    >
                    <ToggleGroupItem :value="IntensityLevel.SOME"
                      >Noe</ToggleGroupItem
                    >
                    <ToggleGroupItem :value="IntensityLevel.A_LOT"
                      >Mye</ToggleGroupItem
                    >
                  </ToggleGroup>
                </FormControl>
              </FormItem>
            </FormField>
          </div>
        </div>
        <div class="flex flex-col justify-center text-center pt-4">
          <p>Velg ditt Sparesti-tema!</p>
          <div class="flex flex-row justify-center pt-2">
            <Button
              class="theme1 bg-transparent hover:bg-transparent"
              type="button"
              @click="themeStore.setTheme('theme1')"
            >
              <img :src="PinkTheme" alt="Pink Theme" class="w-14 h-14" />
            </Button>
            <Button
              class="theme2 bg-transparent hover:bg-transparent"
              type="button"
              @click="themeStore.setTheme('theme2')"
            >
              <img :src="GreenTheme" alt="Green Theme" class="w-14 h-14" />
            </Button>
          </div>
        </div>
      </CardContent>
    </CardHeader>
  </Card>
</template>
