<script setup>
import { computed, onMounted, ref } from 'vue';
import {
  Popover,
  PopoverContent,
  PopoverTrigger
} from '@/components/ui/popover/index.js';
import Sparti from '@/components/Sparti.vue';
import { useThemeStore } from '@/stores/theme.js';
import { useSavingGoalsStore } from '@/stores/savingGoals.js';
import { useUserStore } from '@/stores/user.js';

/**
 * Component for the saving path.
 */

/**
 * Define the props for the component.
 */
const props = defineProps({
  savingGoal: {
    type: Object,
    required: true
  }
});

/**
 * The store for the saving goals.
 */
const savingGoalStore = useSavingGoalsStore();

/**
 * The store for the user.
 */
const userStore = useUserStore();

/**
 * Money collected for the saving goal.
 */
const moneyCollected = computed(() =>
  savingGoalStore.getTotalSavedByGoal(props.savingGoal.savingGoalId)
);

/**
 * Loading state.
 */
const loading = ref(false);

/**
 * Fetches the total saved for the saving goal when the component is mounted and sets the loading state to false.
 */
onMounted(async () => {
  await savingGoalStore.checkAndFetchTotalSaved(props.savingGoal.savingGoalId);
  loading.value = false;
});

/**
 * The store for the theme.
 */
const themeStore = useThemeStore();

/**
 * The current theme.
 */
const theme = computed(() => themeStore.theme);

/**
 * Check if the index is a diagonal.
 */
const isDiagonal = (index) => {
  const totalColumns = 9;
  const row = Math.floor((index - 1) / totalColumns);
  const col = (index - 1) % totalColumns;

  const diagonalCoins = [
    [3, 7],
    [0, 2, 4, 6],
    [1, 5]
  ];
  return diagonalCoins[row].includes(col);
};

/**
 * Keeps track of the clicked buttons.
 */
const clickedButtons = ref(Array(21).fill(false));

/**
 * The goal for the saving path.
 */
const goal = computed(() => props.savingGoal.goal);

/**
 * The steps for the saving path.
 */
const steps = [16, 10, 4, 12, 20, 14];

/**
 * The increment for each step.
 */
const increment = goal.value / steps.length;

/**
 * The coin thresholds.
 */
const coinThresholds = {
  8: 0
};

/**
 * The highest coin threshold.
 */
coinThresholds[14] = goal.value;

/**
 * Generate the coin thresholds.
 */
steps.forEach((step, index) => {
  coinThresholds[step] = Math.round((index + 1) * increment);
});

/**
 * Holds the highest unlocked threshold.
 */
const highestUnlockedThreshold = computed(() => {
  return Math.max(
    ...Object.values(coinThresholds).filter(
      (threshold) => threshold <= moneyCollected.value
    )
  );
});

/**
 * Variable that indicated if the popover is opened.
 */
const openedPopover = ref(null);

/**
 * Clicks the button.
 */
const clickButton = (index) => {
  clickedButtons.value[index - 1] = true;
  setTimeout(() => {
    clickedButtons.value[index - 1] = false;
  }, 200);
  openedPopover.value = index;
};

/**
 * Generates the message for the popover.
 */
const generateMessage = (i) => {
  const steps = [8, 16, 10, 4, 12, 20, 14];
  const messages = [
    `Velkommen til sparestien! Ditt første mål er å spare <strong>${Math.round(coinThresholds[steps[1]])} kr</strong>. Sett i gang ved å ta imot en utfording!`,
    `Neste steg venter. Spar <strong>${Math.round(coinThresholds[steps[1]] - moneyCollected.value)}</strong> kr til for å nå <strong>steg 2</strong>.`,
    `<strong>Steg 3</strong> er neste milepæl. Spar <strong>${Math.round(coinThresholds[steps[2]] - moneyCollected.value)} kr</strong> til for å nå det.`,
    `Du er på god vei! Spar <strong>${Math.round(coinThresholds[steps[3]] - moneyCollected.value)} kr</strong>  til for å nå <strong>steg 4</strong>.`,
    `Godt jobbet! Spar <strong>${Math.round(coinThresholds[steps[4]] - moneyCollected.value)} kr</strong>  til for å nå <strong>steg 5</strong>.`,
    `Nærmer seg slutten! Spar <strong>${Math.round(coinThresholds[steps[5]] - moneyCollected.value)} kr</strong>  til for å nå <strong>steg 6</strong>.`,
    `Ditt siste mål: Spar <strong>${Math.round(coinThresholds[steps[6]] - moneyCollected.value)} kr</strong> til for å fullføre sparestien.`
  ];

  const congratulations = [
    'Godt jobbet!',
    'Utmerket!',
    'Flott arbeid!',
    'Så flink du er!',
    'Stå på!'
  ];
  const step = steps.indexOf(i);

  if (step === 0) {
    return messages[0];
  } else if (
    coinThresholds[steps[step - 1]] === highestUnlockedThreshold.value
  ) {
    return messages[step];
  } else if (moneyCollected.value < coinThresholds[steps[step]] && step === 6) {
    return `Spar <strong>${coinThresholds[steps[step]]} kr</strong>  for å fullføre sparestien.`;
  } else if (moneyCollected.value < coinThresholds[steps[step]]) {
    return `Spar <strong>${coinThresholds[steps[step]]} kr</strong>  for å nå steg ${step + 1}.`;
  } else if (moneyCollected.value >= coinThresholds[i]) {
    if (step < 6) {
      return `Gratulerer! Du har nådd <strong>steg ${step + 1}</strong> og spart <strong>${coinThresholds[i]} kr</strong>. ${congratulations[step - 1]}`;
    } else {
      return `Fantastisk! Du har fullført sparestien og spart totalt <strong>${moneyCollected.value} kr</strong> !`;
    }
  }
};
</script>

<template>
  <div v-if="loading" class="px-2.5 flex flex-col items-center mt-10 pt-7">
    <h1 class="pt-7 pb-8 text-2xl">Laster inn...</h1>
    <img
      src="../assets/Loading/Loading.gif"
      alt="Mynter som stables mens siden laster"
      class="w-1/4 h-auto md:w-1/6"
    />
  </div>
  <div v-else class="align-middle grid grid-cols-7 grid-rows-3 w-full md:w-3/4">
    <div
      v-for="i in 21"
      :key="i"
      :class="isDiagonal(i) ? 'bg-primary-dark' : 'invisible'"
      class="m-0 p-0 border-none appearance-none bg-transparent"
      @click="clickButton(i)"
    >
      <Popover>
        <PopoverTrigger asChild>
          <div class="relative">
            <img
              v-if="clickedButtons[i - 1] && i === 8"
              src="../assets/SavingPath/ClickedStart.png"
              alt="Valgt startmynt"
            />
            <img
              v-else-if="i === 14"
              src="../assets/SavingPath/Chest.gif"
              alt="Kiste"
              :class="{
                grayscale: moneyCollected < coinThresholds[i],
                'filter-none': moneyCollected >= coinThresholds[i]
              }"
            />
            <img
              v-else-if="!clickedButtons[i - 1] && i === 8"
              src="../assets/SavingPath/Start.png"
              alt="Startmynt"
            />
            <img
              v-else-if="
                clickedButtons[i - 1] &&
                moneyCollected < coinThresholds[i] &&
                i !== 14
              "
              src="../assets/SavingPath/ClickedCoin.png"
              class="grayscale"
              alt="Valgt mynt"
            />
            <img
              v-else-if="
                clickedButtons[i - 1] && moneyCollected >= coinThresholds[i]
              "
              src="../assets/SavingPath/ClickedCoin.png"
              alt="Mynt"
            />
            <img
              v-else-if="
                moneyCollected >= coinThresholds[i] && !clickedButtons[i - 1]
              "
              src="../assets/SavingPath/Coin.png"
              class="filter-none"
              alt="Mynt"
            />
            <img
              v-else-if="
                moneyCollected < coinThresholds[i] && !clickedButtons[i - 1]
              "
              src="../assets/SavingPath/Coin.png"
              class="grayscale"
              alt="Mynt"
            />
            <img
              :src="userStore.user.profileAvatar"
              v-if="coinThresholds[i] === highestUnlockedThreshold"
              class="absolute col-auto top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10 animate-bounce w-3/4 md:1/2"
              alt="Avatar"
            />
            <div class="flex items-center justify-center">
              <p class="text-stroke">
                <strong>{{ coinThresholds[i] }},-</strong>
              </p>
            </div>
          </div>
        </PopoverTrigger>
        <PopoverContent class="p-0 rounded-2xl bg-white">
          <Sparti>
            <span class="overflow-ellipsis" v-html="generateMessage(i)"></span>
          </Sparti>
        </PopoverContent>
      </Popover>
    </div>
  </div>
</template>
<style scoped>
@keyframes bounce {
  0%,
  100% {
    transform: translateX(-50%) translateY(-50%);
  }
  50% {
    transform: translateX(-50%) translateY(calc(-50% - 20px));
  }
}

.animate-bounce {
  animation: bounce 2s ease-in-out infinite;
}

@media (max-width: 768px) {
  .text-stroke {
    @apply text-darkest font-gluten text-[3vw] font-black leading-none tracking-tight pt-2 p-6 pb-1;
  }
}

@media (min-width: 769px) {
  .text-stroke {
    @apply text-darkest font-gluten text-2xl font-black leading-none tracking-tight pt-2 p-6 pb-1;
  }
}
</style>
