<script setup>
import { computed } from 'vue';
import PinkMascot from '@/assets/PinkThemeAssets/PinkMascot.png';
import GreenMascot from '@/assets/GreenThemeAssets/GreenMascot.png';
import { useThemeStore } from '@/stores/theme';

/**
 * The Sparti mascot component.
 */

/**
 * Props for the Sparti mascot component.
 */
const props = defineProps({
  theme: String
});

/**
 * Initializes themeStore
 */
const themeStore = useThemeStore();

/**
 * Sets current theme
 */
const theme = computed(() => themeStore.theme);
</script>

<template>
  <div class="top-[80px] md:top-[90px] flex flex-row items-center pr-4">
    <img
      v-if="theme === 'theme1'"
      :src="PinkMascot"
      alt="Pink Background"
      class="w-9 h-9 md:11 md:11 float-left"
    />
    <img
      v-else-if="theme === 'theme2'"
      :src="GreenMascot"
      alt="Green Background"
      class="w-9 h-9 md:11 md:11 float-left"
    />
    <div class="flex items-center justify-start">
      <div class="w-3 overflow-hidden">
        <div
          class="h-4 bg-white rotate-45 transform origin-bottom-right rounded-sm outline"
        ></div>
      </div>
      <div class="bg-white p-4 my-6 rounded-lg flex-1 outline">
        <slot />
      </div>
    </div>
  </div>
</template>

<style scoped></style>
