<script setup>
import { computed } from 'vue';
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle
} from '@/components/ui/card/index.js';
import { getDifficultyLabel } from '@/utils/difficulty';

/**
 * A component for displaying a suggested saving challenge.
 */

/**
 * The props for the component
 */
const props = defineProps({
  savingChallenge: {
    type: Object,
    required: true
  },
  isPreview: {
    type: Boolean,
    default: false
  },
  time: {
    type: Number,
    default: 7
  },
  targetSpending: {
    type: Number,
    required: false
  }
});

/**
 * The target spending for the saving challenge.
 */
const targetSpending = computed(() => {
  if (props.targetSpending) {
    return props.targetSpending;
  }
  if (props.savingChallenge.targetSpending) {
    return props.savingChallenge.targetSpending;
  }
  return props.savingChallenge.currentSpending;
});

/**
 * The difficulty of the saving challenge.
 */
const difficulty = computed(() =>
  getDifficultyLabel(props.savingChallenge.difficulty)
);

/**
 * The category of the saving challenge.
 */
const category = computed(() => props.savingChallenge.category.name);

/**
 * The description of the saving challenge.
 */
const description = computed(() => props.savingChallenge.description);
</script>

<template>
  <Card>
    <CardHeader>
      <div class="flex justify-between">
        <CardTitle class="text-left justify-self-start pb-1">
          {{ category }}
        </CardTitle>
        <p id="difficulty" class="justify-self-end">{{ difficulty }}</p>
      </div>
    </CardHeader>
    <CardContent>
      <CardDescription
        class="text-black"
        :class="{
          'line-clamp-3': !props.isPreview,
          'line-clamp-6': props.isPreview,
          'overflow-y-auto': props.isPreview
        }"
      >
        {{ description }}
      </CardDescription>
    </CardContent>
    <CardFooter class="justify-center font-bold"
      >Prøv å bruk mindre enn {{ targetSpending }} kr på
      {{ props.time }} dager</CardFooter
    >
  </Card>
</template>
