@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: var(--standard-color);
  color: var(--text-color);

  font-family: 'manrope', sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

:root {
  --primary-color: #f8a9ad;
  --primary-color-light: #ffb6b6;
  --primary-color-dark: #d16676;
  --secondary-color: #ae505b;
  --secondary-color-light: #fcccce;
  --secondary-color-dark: #e08c96;
  --standard-color: #f7e9ea;
  --white: #fff;
  --text-color: #351a1b;
  --completed-color: #518f5a;
  --active-color: #0cc0df;
  --failed-color: #ff8615;
  --total-color: #e9488b;
}

.theme1 {
  --primary-color: #f8a9ad;
  --primary-color-light: #ffb6b6;
  --primary-color-dark: #d16676;
  --secondary-color: #ae505b;
  --secondary-color-light: #fcccce;
  --secondary-color-dark: #e08c96;
  --standard-color: #f7e9ea;
  --white: #fff;
  --text-color: #351a1b;
  --completed-color: #518f5a;
  --active-color: #0cc0df;
  --failed-color: #ff8615;
  --total-color: #e9488b;
}

.theme2 {
  --primary-color: #96bf9a;
  --primary-color-light: #a5cdaf;
  --primary-color-dark: #4f8d58;
  --secondary-color: #428757;
  --secondary-color-light: #bedcc3;
  --secondary-color-dark: #78b088;
  --standard-color: #e6f2e9;
  --white: #fff;
  --completed-color: #e9488b;
  --active-color: #0cc0df;
  --failed-color: #ff8615;
  --total-color: #96bf9a;
}

.text-stroke {
  @apply text-primary-dark text-center font-gluten text-5xl font-black leading-none tracking-tight pt-2 p-6 pb-1;
}
