<script setup>
import { ref } from 'vue';
import { Plus } from 'lucide-vue-next';
import { Button } from '../ui/button';
import {
  Dialog,
  DialogClose,
  DialogContent,
  DialogDescription,
  DialogFooter,
  DialogHeader,
  DialogTitle,
  DialogTrigger
} from '../ui/dialog';
import { Label } from '../ui/label';
import { Input } from '../ui/input';
import { ScrollArea } from '../ui/scroll-area';
import { Card, CardContent } from '../ui/card';
import { useCategoryStore } from '@/stores/category';

/**
 * Component for creating a new category.
 */

/**
 * Props for the component.
 */
const props = defineProps({
  values: {
    type: Object,
    required: true
  },
  setFieldValue: {
    type: Function,
    required: true
  }
});

/**
 * Category store for managing categories.
 */
const categoryStore = useCategoryStore();

/**
 * List of category images.
 */
const categoryImages = [
  { src: 'https://api.sparesti.no/images/category/amusement.png' },
  { src: 'https://api.sparesti.no/images/category/bills.png' },
  { src: 'https://api.sparesti.no/images/category/cafe.png' },
  { src: 'https://api.sparesti.no/images/category/car.png' },
  { src: 'https://api.sparesti.no/images/category/clothes.png' },
  { src: 'https://api.sparesti.no/images/category/coffee.png' },
  { src: 'https://api.sparesti.no/images/category/fuel.png' },
  { src: 'https://api.sparesti.no/images/category/gaming.png' },
  { src: 'https://api.sparesti.no/images/category/going-out.png' },
  { src: 'https://api.sparesti.no/images/category/groceries.png' },
  { src: 'https://api.sparesti.no/images/category/hobby.png' },
  { src: 'https://api.sparesti.no/images/category/house.png' },
  { src: 'https://api.sparesti.no/images/category/pets.png' },
  { src: 'https://api.sparesti.no/images/category/phone.png' },
  { src: 'https://api.sparesti.no/images/category/restaurant.png' },
  { src: 'https://api.sparesti.no/images/category/shopping.png' },
  { src: 'https://api.sparesti.no/images/category/sport.png' },
  { src: 'https://api.sparesti.no/images/category/streaming.png' },
  { src: 'https://api.sparesti.no/images/category/travel.png' },
  { src: 'https://api.sparesti.no/images/category/wellbeing.png' }
];

/**
 * New category name.
 */
const newCategoryName = ref('');

/**
 * New category icon.
 */
const newCategoryIcon = ref({ src: '' });

/**
 * Method for checking if the category already exists.
 */
const doesCategoryExist = () => {
  return props.values.categories.some(
    (category) =>
      category.name &&
      category.name.toLowerCase() === newCategoryName.value.trim().toLowerCase()
  );
};

/**
 * Method for adding a new category.
 */
const addCategory = async () => {
  if (newCategoryName.value.trim() !== '' && newCategoryIcon.value.src !== '') {
    const newCategory = {
      name: newCategoryName.value.trim(),
      img: newCategoryIcon.value.src
    };

    console.log(newCategoryIcon.value.src);
    const categoryId = await categoryStore.createCategory(newCategory);

    let categoriesCopy = [...props.values.categories];
    categoriesCopy.unshift({
      ...newCategory,
      categoryId,
      selected: true
    });

    props.setFieldValue('categories', categoriesCopy);

    newCategoryName.value = '';
    newCategoryIcon.value = { src: '' };
  } else {
    console.log('Invalid category name or image');
  }
};

/**
 * Method for checking if the category is not valid.
 */
const isNotValidCategory = () => {
  return (
    newCategoryName.value.trim() === '' ||
    newCategoryIcon.value.src === '' ||
    doesCategoryExist()
  );
};
</script>

<template>
  <Dialog ref="dialog">
    <DialogTrigger as-child>
      <Button variant="quaternary">
        <Plus size="25" alt="Add button" />
      </Button>
    </DialogTrigger>
    <DialogContent class="sm:max-w-[425px]">
      <DialogHeader>
        <DialogTitle>Legg til kategori</DialogTitle>
        <DialogDescription class="text-darkest">
          Legg til en egendefinert kategori for sparing.</DialogDescription
        >
      </DialogHeader>
      <div class="flex flex-col py-4">
        <div class="flex flex-col gap-4 mb-8">
          <Label for="categoryName" class="text-left">
            Navn på kategori:
          </Label>
          <Input
            id="categoryName"
            class="col-span-3 border-2 border-primary-dark focus-visible:ring-darkest"
            v-model="newCategoryName"
          />
        </div>

        <ScrollArea class="h-96 w-42">
          <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
            <Card
              class="relative pt-4 hover:opacity-75 w-full h-30"
              v-for="(icon, index) in categoryImages"
              :key="index"
              @click="
                newCategoryIcon.src = icon.src;
                newCategoryIcon.alt = icon.alt;
              "
              :class="{
                'border-solid border-2 border-primary-dark':
                  newCategoryIcon.src === icon.src
              }"
            >
              <CardContent>
                <img :src="icon.src" :alt="icon.alt" />
              </CardContent>
            </Card>
          </div>
        </ScrollArea>
      </div>
      <DialogFooter>
        <DialogClose as-child>
          <Button
            variant="primary"
            :disabled="isNotValidCategory()"
            @click="() => addCategory()"
          >
            Lagre kategori
            <Plus size="25" alt="Add button" class="ml-1" />
          </Button>
        </DialogClose>
      </DialogFooter>
    </DialogContent>
  </Dialog>
</template>
