<script setup>
import { ref } from 'vue';
import {
  Dialog,
  DialogHeader,
  DialogTitle,
  DialogDescription,
  DialogContent,
  DialogTrigger
} from '../ui/dialog';
import {
  FormControl,
  FormField,
  FormItem,
  FormLabel,
  FormMessage
} from '../ui/form';
import { Button } from '../ui/button';
import { Input } from '../ui/input';
import { AccountType, accountTypeToLabel } from '@/lib/AccountType';
import { toTypedSchema } from '@vee-validate/zod';
import * as z from 'zod';
import { useForm } from 'vee-validate';
import { useUserStore } from '@/stores/user';

/**
 * Component for integrating a bank account with SpareSti web application.
 */

/**
 * The user store.
 */
const userStore = useUserStore();

/**
 * Props for the component.
 */
const props = defineProps({
  accountType: {
    type: String,
    default: AccountType.CHECKING
  }
});

/**
 * Whether the dialog is open.
 */
const open = ref(false);

/**
 * The form schema for the integration form.
 */
const formSchema = toTypedSchema(
  z.object({
    accountNumber: z
      .string()
      .regex(/^\d{11}$/, 'Kontonummer må være 11 siffer')
      .transform((str) => parseInt(str, 10)) // Convert the valid string back to a number
  })
);

/**
 * The form for the integration form.
 */
const form = useForm({
  validationSchema: formSchema
});

/**
 * Handles the form submission.
 */
const onSubmit = form.handleSubmit(async (values) => {
  const response = await userStore.integrateWithBank(
    values.accountNumber,
    props.accountType
  );
  console.log(response);
  open.value = false;
});
</script>

<template>
  <Dialog :open="open" @update:open="(value) => (open = value)">
    <DialogTrigger as-child>
      <Button> Integrer {{ accountTypeToLabel(accountType) }} med bank </Button>
    </DialogTrigger>
    <DialogContent>
      <DialogHeader>
        <DialogTitle>
          Integrer en {{ accountTypeToLabel(accountType) }} med bank
        </DialogTitle>
        <DialogDescription>
          Integrer med banken for å få tilgang til transaksjoner og andre
          funksjoner.
        </DialogDescription>
      </DialogHeader>
      <form class="space-y-8" @submit.prevent="onSubmit">
        <FormField v-slot="{ componentField }" name="accountNumber">
          <FormItem>
            <FormLabel>Kontonummer</FormLabel>
            <FormControl>
              <Input v-bind="componentField" />
            </FormControl>
            <FormMessage />
          </FormItem>
        </FormField>
        <div class="flex justify-end">
          <Button> Integrer med bank </Button>
        </div>
      </form>
    </DialogContent>
  </Dialog>
</template>
